*{
	margin:0;
	padding: 0;
}
body{
	font-family: tahoma;
}
img{
	width:150px;
	height:150px;

}
table{

    border-spacing: 10px;
    border-collapse: separate;
}

table td{
	width:150px;
	height:150px;
}

table td p:nth-child(1){
	font-weight: bold;
}