/*Reset broweser settings*/
*{
	margin:0px;
    padding:0px;
}
body{
	font-family: "tahoma";
	font-size: 20px;

}
h1{
	font-size: 150%;
}

table {

	border-spacing: 0;
}
img{
	vertical-align: center;

}
/*Making the scorboard and the table*/
.scoreboard{
	width: 1214px;
	height: 440px;
	background-color: #00923E;
	padding-top: 20px;

}
.table{
	width: 1174px;
	height: 400px;
	vertical-align: middle;
	margin: 0 auto;
}
td, tr, th{
	height: 67px;
	border: 1px solid black;

}



/*Rounding the corners*/
.topLeft{
	width: 220px;
	border-top-left-radius: 25px;
	text-align: right;
}
.topRight{
	width: 540px;
	border-top-right-radius: 25px;
	text-align: center;
}
.bottomLeft{
	width: 220px;
	border-bottom-left-radius: 25px;
	text-align: right;
	padding-right: 10px;
}
.bottomRight{
	width: 540px;
	border-bottom-right-radius: 25px;
	width: 64px;
	text-align: center;
}

/*Making buttons, should use Enable and Disable instead of green and red*/
input[type=button] {
    color:white;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    font-weight:bolder;
}
.red{
    background:red;
}
.green{
    background:green;
}
.mesure{
	width: 64px;
	text-align: center;
}
/*Background colors and Fonts*/
.header{
	background-color: #F8C711;
	font-family: Tahoma;
	font-weight: bold;

}
.greyRow{
	background-color: #C8C8C8;
}
.whiteRow{
	background-color: #FFFFFF;
}
.leftAlign{
	width: 220px;
	text-align: left;
	padding-left: 10px;
}
.centerAlign{
	text-align: center;
	width: 118px;
}
.rightAlign{
	width: 220px;
	text-align: right;
	padding-right: 10px;
}
.redScore{
	font-size: 100%;
	color:red;
}
.greenScore{
	font-size: 100%;
	color:green;
}
