/*Reset broweser settings*/
*{
	margin:0px;
    padding:0px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Making the scorboard and the table*/
.scoreboard{
	width: 1214px;
	height: 440px;
	background-color: #00923E;
	padding-top: 20px;

}
.table{
	width: 1174px;
	height: 400px;
	vertical-align: middle;
	/*margin: 0 auto;*/
}
td, tr, th{
	height: 67px;
}
.large{
	width: 540px;
}
.country{
	width: 220px
}
.result{
	width: 115px;
}
.rounded{
	width: 1174px;
	border-radius: 20px;
	border: 2px solid black;
	vertical-align: middle;
	background-color: #FFFFFF;
	margin: 0 auto;
	background-color: #F8C711;
}
.mesure{
	width: 64px;
	text-align: center;
}

table td, table th {
  border: 2px solid black;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
/*Making buttons, should use Enable and Disable instead of green and red*/
input[type=button] {
    color:white;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    font-weight:bolder;
}
.red{
    background:red;
}
.green{
    background:green;
}
/*Background colors and Fonts*/
.header{

	font-family: Tahoma;
	font-weight: bold;
}
.greyRow{
	background-color: #C8C8C8;
}
.whiteRow{
	background-color: #FFFFFF;
}